[include]
	path = ~/.gitconfig-local

[init]
	defaultBranch = main

[includeIf "gitdir:~/Projects/e6data/"]
	path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:git@github.com-personal:*/*"]
	path = ~/.gitconfig-personal                                                
